/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg-light);
}

/* Block-level elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* List elements */
ol,
ul {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HTML5 form elements reset */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

/* Table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--TEXT-color_8) inset !important;
  color: inherit !important;
}
input:-webkit-autofill::first-line {
  color: inherit !important;
}
