.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 21px;
    margin-bottom: 91px;
}